# Dependencias
node_modules/

# Builds y compilados
dist/
.tscache/

# Variables de entorno y secretos
.env
.env.*
!.env.example
*.pem

# Logs
logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db
